<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About This Blog</h2>
        <p>This blog created by CptShpek with such technologies as</p>
        <ul>
            <li>Node.js</li>
            <li>Express</li>
            <li>EJS</li>
            <li>MongoDB</li>
            <li>MVC</li>
        </ul>
        </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>